
.style2 {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style3 {color: #FFFFFF; font-style: italic; }
.style4 {
    color: #000000;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style6 {color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; }
