


#genericSearchPagination {
margin:10px 0 0 10px;
}
#genericSearchPagination li {
display:inline;
}
#genericSearchPagination li a.paginationBlock {
border:1px solid #DBDEE5;
padding:0 3px;
text-decoration:none;
}
#genericSearchPagination li a.paginationBlock:hover {
background:none repeat scroll 0 0 #E4EEEF;
}
#genericSearchPagination li.previousPage {
color:#666666;
margin:0 7px 0 13px;
}
#genericSearchPagination li.previousPage a {
background:url("img/general/arrowBlueSmallLeft.gif") no-repeat scroll left center transparent;
padding-left:10px;
}
#genericSearchPagination li.nextPage {
color:#666666;
margin-left:10px;
}
#genericSearchPagination li.nextPage a {
background:url("img/general/arrowBlueSmall.gif") no-repeat scroll right center transparent;
padding-right:10px;
}
#genericSearchPagination li.filter {
color:#666666;
padding-right:7px;
}