body {
	background-color: #333333;
}
.style2 {color: #FFFFFF}
.style3 {color: #FFFFFF; font-style: italic; }
.style4 {
	color: #000000;
	font-weight: bold;
}

#availsurveys {
    vertical-align:text-top;
    align:center;
}

.mainBodyTable {
    border-style:solid;
    border-width:0px;
    border:0px;
    width:100%;
}

.mainBodyTable td {    
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
