/*  
|
|	Name:			Leopard
|	Author:			Nettuts/Harley Alexander
|	Description:	For a Tutorial at http://nettuts.com/, it's aimed at showing how jQuery and jQuery UI can create a 
|					leopard style Web Desktop. Although basic, it incompases Dashboard and Windows!
|
*/


menutab{
	font: 75%/18px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#dock{
	margin: 0 auto;
	bottom: 10px;
	left: 37.5%;
	min-width: 20px;
	max-width: 400px;
	z-index: 9999;
}

#dock img{
	float: left;
}