 #top {
    width: 95%;
    margin:0 auto;
    text-align: left;
 }

 .t1 {
    text-align: left;
 }
 
 .t2 {
    text-align: right;
 }
 
 #surveyContainer {
    width: 95%;
    margin:0 auto;
    position: relative;
    text-align: left;
    background-color: #C7C7FB;
    -moz-border-radius: 15px; /* for Mozilla browsers */
    -webkit-border-radius: 15px; /* for webkit browsers (Chrome, Safari) */
    border-radius: 15px; /* for Opera and others */
    padding-bottom: 20px;
 }
 
.thankyou {
    background-color: #C7C7FB;
}

table, td, th {
  white-space: nowrap;
  overflow: hidden;
}

 .questionContainer {
    position: relative;
    margin: 5px 5px 5px 5px;
 } 
 .answercontainer{
    text-align: left;
    position: relative;
    left: 60px;
    padding-bottom: 20px;
 }
 .submit {
    text-align: center;
 }